:root {
  /*Primary Colors*/
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* gradient colors */
  --background-slate-blue: hsl(252, 100%, 67%);
  --background-royal-blue: hsl(241, 81%, 54%);

  --circle-violet: hsla(256, 72%, 46%, 1);
  --circle-persian: hsla(241, 72%, 46%, 0);
}
.container {
  min-height: 50vh;
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}
.results {
  display: grid;
  text-align: center;
  align-items: center;
  align-content: start;
  gap: 1rem;
  background: linear-gradient(
    var(--background-slate-blue),
    var(--background-royal-blue)
  );
  color: white;
  padding: 1.5rem 4rem;
  border-radius: 0 0 2rem 2rem;
}
.result-circle {
  border-radius: 100%;
  margin: auto;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(var(--circle-violet), var(--circle-persian));
}
.scored {
  font-size: 4rem;
}
.summary {
  display: grid;
  text-align: start;
  gap: 2rem;
  padding: 2rem;
}
.module {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
}
.reaction {
  background: hsl(0, 100%, 67%, 0.1);
  color: var(--light-red);
}
.memory {
  background: hsl(39, 100%, 56%, 0.1);
  color: var(--orange-yellow);
}
.verbal {
  background: hsl(166, 100%, 37%, 0.1);
  color: var(--green-teal);
}
.visual {
  background: hsl(234, 85%, 45%, 0.1);
  color: var(--cobalt-blue);
}
.module-container {
  display: grid;
  gap: 1rem;
}
.btn {
  background: darkblue;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 2.5rem;
}
.module-text {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 600px) {
  .body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Hanken Grotesk", sans-serif;
    margin-top: 17vh;
    margin-inline: auto;
    padding: 0;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 2rem;
    overflow: hidden;
  }
  .results {
    border-radius: 2rem;
    padding: 2rem 3rem;
    gap: 2rem;
  }
}
